/*coolHue Stylesheet */

* {
    box-sizing: border-box;
}

::selection {
    background: #6833DF;
    color: #FFFFFF;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #2750C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ch-sidebar {
    width: 85px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: solid 1px #E5E5E5;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 300;
}

.ch-sidebar img {
    display: block;
    margin: 0 auto;
}

.ch-share {
    width: 32px;
    height: 32px;
    margin-top: 32px;
    display: block;
    margin: 15px auto;
    opacity: .75;
    transition: .25s ease-in;
    position: relative;
}

.ch-share:first-of-type {
    margin-top: 25px;
}

.ch-share:hover {
    opacity: 1;
}

.ch-share:after {
    font-size: 14px;
    left: 34px;
    top: 0px;
    position: absolute;
    padding: 3px 15px 5px;
    border-radius: 15px;
    color: #534e5c;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: .25s ease-in;
    margin-top: 3px;
    transform: translateX(-2px);
}

.ch-share:hover:after {
    opacity: 1;
    transform: translateX(2px);
}

.ch-share.twitter:after {
    content: "Tweet";
}

.ch-share.facebook:after {
    content: "Share";
}

.ch-share.github:after {
    content: "Star";
}

.ch-starcount{
    display: block;
    text-align: center;
    margin-top: -12px;
    color: #534e5c;
}

.twitter {
    background-image: url("../images/icon-twitter.svg");
}

.facebook {
    background-image: url("../images/icon-facebook.svg");
}

.github {
    background-image: url("../images/icon-github.svg");
}


p {
    text-align: left;
    font-size: 18px;
    color: #929197;
    padding: 15px 25px;
}

.ch-paper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 20px 105px;
    text-align: left;
    overflow: auto;
}

.ch-gradient-brick {
    width: 180px;
    display: inline-block;
    border-radius: 12px;
    margin: 25px;
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0px);
}

.ch-gradient-brick:hover {
    box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
}

.ch-gradient {
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 180px;
    position: relative;
    background-color: #CFD8DC;
}

.ch-actions {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.ch-gradient-brick:hover .ch-actions {
    display: block;
    animation: micro-move .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.ch-code,
.ch-grab {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-image: url("../images/coolhue-sprite.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    margin: 3px;
    transform: translateY(0px);
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: .7;
}

@keyframes micro-move {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0px);
    }
}

.ch-code:hover,
.ch-grab:hover {
    opacity: 1;
    transform: translateY(-4px);
}

.ch-code:active,
.ch-grab:active {
    opacity: 1;
    transform: translateY(-2px);
}

.ch-code {
    background-position: -26px 0px;
}

.ch-grab {
    background-position: 0px 0px;
}

.ch-colors {
    border-radius: 0px 0px 12px 12px;
    padding: 12px;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
}

.ch-color-from {
    margin-bottom: 3px;
}

.ch-color-from,
.ch-color-to {
    color: #929197;
    display: block;
    padding: 0px;
}

.ch-notify-plank {
    position: fixed;
    width: 250px;
    max-width: 80%;
    top: 30px;
    right: 0px;
    z-index: 500;
    text-align: right;
    max-height: 70%;
    overflow-y: auto;
}

.ch-notify {
    margin: 0px 35px 10px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15.36px 0.64px rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
    color: #534E5C;
    display: inline-block;
    border-radius: 500px;
    font-size: 18px;
    transition: .35s ease-in-out;
}

.ch-notify-animate {
    animation: notify-up 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.ch-distro {
    position: absolute;
    z-index: 50;
    left: 15px;
    bottom: 15px;
    min-width: 200px;
    max-width: 100%;
}

.ch-distro-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
    background-image: url("../images/coolhue-sprite.svg");
    background-repeat: no-repeat;
    background-position: 0px -25px;
    box-shadow: 0px 12px 27px 3px rgba(0, 0, 0, 0.15), 0px 6px 4px 0px rgba(0, 0, 0, 0.05);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0px);
    cursor: pointer;
}

.ch-distro-icon-active,
.ch-distro-icon:hover {
    box-shadow: 0px 25px 30px 5px rgba(0, 0, 0, 0.1), 0px 5px 20px 5px rgba(0, 0, 0, 0.03);
    transform: translateY(-6px);
}

.ch-distro-icon-active {
    background-position: -50px -25px;
}

.ch-distro-wrapper {
    left: 0px;
    right: 0px;
    bottom: 70px;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 15px;
    display: none;
}

.ch-distro-type {
    color: #2750C4;
    display: block;
    padding: 7px 0 7px 0;
    text-decoration: none;
    font-size: 17px;
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.ch-distro-type:hover {
    text-decoration: underline;
}

.ch-distro-type:before {
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 7px;
}

.ch-distro-type:nth-child(1):before {
    background-image: url("../images/coolhue-sprite.svg");
    background-position: 0px -77px;
}

.ch-distro-type:nth-child(2):before {
    background-image: url("../images/coolhue-sprite.svg");
    background-position: -26px -77px;
}

.ch-distro-type:nth-child(3):before {
    background-image: url("../images/coolhue-sprite.svg");
    background-position: -52px -77px;
}

.ch-distro-wrapper-flap-up {
    animation: flap-up 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.ch-distro-wrapper-flap-down {
    animation: flap-down 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.ch-distro-wrapper-visible {
    display: block;
}

@keyframes flap-up {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes flap-down {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(25px);
    }
}

@keyframes notify-up {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    10%,
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-25px);
    }
}

.ch-notify span {
    display: block;
    text-align: center;
}

noscript {
    font-size: 20px;
    color: #757575;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .ch-gradient-brick .ch-actions {
        display: block;
        animation: micro-move .3s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (max-width: 600px) {
    .ch-paper {
        text-align: center;
    }
    .ch-gradient-brick {
        display: block;
        margin: 35px auto;
    }
}